<div class="container" dw-loading="signup" dw-loading-options="{text: 'Loading...'}">
   <div class="center-form panel" layout="column">
       <md-content layout-padding>
        <form name="signupForm" ng-controller="SignupCtrl as ctrl" ng-submit="signup()" style="margin: 24px">
            <label><h4>Sign-up for an account</h4></label>

            <md-input-container class="md-block">
                <label>First name *</label>
                <input required server-error="" name="firstName" maxlength="60" ng-model="user.firstName" focus-me="true">
                <div ng-messages="signupForm.firstName.$error" role="alert" ng-show="signupForm.firstName.$touched">
                    <div ng-message="required">First name is required</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Last name</label>
                <input ng-model="user.lastName" name="lastName" maxlength="60">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Email address *</label>
                <input name="userEmail" ng-model="user.email" server-error required ng-pattern="/^.+@.+\..+$/" wc-email="{property: 'email'}">
                <div ng-messages="signupForm.userEmail.$error"  ng-show="signupForm.userEmail.$touched">
                    <div ng-message="required">Email is required</div>
                    <div>
                        <div ng-message="pattern">Please enter a valid e-mail address</div>
                        <div ng-message="unique">A user already exists with this email address</div>
                    </div>
                </div>
            </md-input-container>

            <md-chips ng-model="user.languages" md-autocomplete-snap md-require-match="true" md-max-chips="2"
                      md-on-add="appendLanguageChip($chip)">
                <md-autocomplete
                        md-no-cache="true"
                        md-selected-item="ctrl.selectedItem"
                        md-search-text="ctrl.searchText"
                        md-items="item in ctrl.languagesSearch(ctrl.searchText)"
                        md-item-text="item"
                        placeholder="Languages spoken">
                    <span md-highlight-text="ctrl.searchText">{{item}}</span>
                </md-autocomplete>
            </md-chips>

            <div style="margin-top: 48px" class="center-block">
                <md-checkbox ng-model="user.isAcceptedTermAndCondition" aria-label="I accept the Terms & Conditions">
                    I accept the Terms & Conditions
                </md-checkbox>
            </div>
            <div>
                <md-button ng-disabled="signupForm.$invalid || !user.isAcceptedTermAndCondition" class="md-raised md-primary" ng-click="signup()">Sign-up</md-button>
            </div>
        </form>
       </md-content>
    </div>
</div>
